kind: StorageCluster
apiVersion: core.libopenstorage.org/v1
metadata:
  name: px-cluster-ocp-onprem
  namespace: {{ px_namespace }}
  annotations:
    portworx.io/is-openshift: "true"
spec:
  image: portworx/oci-monitor:{{ px_version }}
  imagePullPolicy: Always
  kvdb:
    internal: true
  storage:
    devices:
    - /dev/vda
  secretsProvider: k8s
  stork:
    enabled: true
    args:
      webhook-controller: "true"
  runtimeOptions:
    default-io-profile: "6"
  csi:
    enabled: true
  monitoring:
    telemetry:
      enabled: true
    prometheus:
      exportMetrics: true
