kind: StorageCluster
apiVersion: core.libopenstorage.org/v1
metadata:
  name: px-cluster-osd
  namespace: {{ px_namespace }}
  annotations:
    portworx.io/is-openshift: "true"
    portworx.io/is-gke: "true"
    portworx.io/preflight-check: "false"
spec:
  image: portworx/oci-monitor:{{ px_version }}
  imagePullPolicy: Always
  kvdb:
    internal: true
  cloudStorage:
    deviceSpecs:
    - type=pd-standard,size=150
    kvdbDeviceSpec: type=pd-standard,size=32
  secretsProvider: k8s
  stork:
    enabled: true
    args:
      webhook-controller: "true"
  runtimeOptions:
    default-io-profile: "6"
  csi:
    enabled: true
  monitoring:
    telemetry:
      enabled: true
    prometheus:
      exportMetrics: true
  volumes:
  - name: gcloud
    mountPath: /etc/pwx/gce
    secret:
      secretName: px-gcloud
  env:
  - name: GOOGLE_APPLICATION_CREDENTIALS
    value: /etc/pwx/gce/gcloud.json
