[defaults]
inventory = inventory/hosts.yml
roles_path = roles
collections_paths = ~/.ansible/collections
stdout_callback = default
result_format = yaml
retry_files_enabled = false
host_key_checking = false
gathering = smart

[connection]
pipelining = true
